@import url("https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic");
@import url("https://fonts.googleapis.com/css?family=Mulish:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Fire Fox */
html {
    scrollbar-width: thin;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
}

/* chrome */
::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(155, 155, 155, 0.5);
    border-radius: 20px;
    border: transparent;
}

body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    transition: all 0.2s ease;
    background-color: #fff;
    padding-left: 70px;
}
.notthesidebar{
    padding-right: 70px;    
}

body.dark {
    transition: all 0.2s ease;
    background-color: #292c35;
}

/* insider facts */
.insider {
    color: #FC8A17;
    font-family: lato;
}

.facts {
    color: black;
    font-family: mulish;
}

body.dark .facts {
    color: white;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 72px;
    background: #804a25;
    padding: 6px 10px;
    transition: all 0.5s ease;
    z-index: 1;
}

.sidebar.active {
    width: 240px;
}

.sidebar .sidebar_logos .sidebar_logoitems {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    pointer-events: none;
    opacity: 0;
    white-space: nowrap;
    transition: all 0.2s ease;
}

.sidebar.active .sidebar_logos .sidebar_logoitems {
    transition: all 0.8s ease;
    opacity: 1;
    pointer-events: none;
}

.sidebar_logos .sidebar_logoitems .sidebar_logotext {
    font-size: 24px;
    font-weight: 400;
}

.sidebar #btn {
    color: #fff;
    position: absolute;
    left: 50%;
    top: 6px;
    font-size: 36px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
    transition: all 0.5s ease;
}

.sidebar.active #btn {
    left: 90%;
}

.sidebar ul {
    margin-top: 20px;
}

.sidebar ul li {
    position: relative;
    width: 100%;
    margin: 0 2px;
    height: 50px;
    list-style: none;
    line-height: 50px;
}

.sidebar ul li .tooltip {
    position: absolute;
    left: 122px;
    top: 0;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    height: 35px;
    width: 122px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    line-height: 35px;
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
    background-color: #292c35;
    color: #fff;
    font-family: Mulish;
}

body.dark .sidebar ul li .tooltip {
    color: #111;
    background: #fff;
}

.sidebar.active ul li .tooltip {
    display: none;
}

.sidebar ul li:hover .tooltip {
    transition: all 0.5s ease;
    top: 50%;
    opacity: 1;
}

.sidebar ul li a {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: Mulish;
    border-radius: 2px;
    white-space: nowrap;
    transition: all 0.4s ease;
}

.sidebar ul li a:hover {
    color: #804a25;
    background: #fff;
}

.sidebar ul li a i {
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.sidebar ul li .links_name {
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease;
}

.sidebar.active ul li .links_name {
    opacity: 1;
    transition: all 0.8s ease;
    pointer-events: auto;
}

.sidebar .sidebar_light-dark {
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
}

.sidebar .sidebar_light-dark .sidebar_light-dark_profile {
    position: relative;
    padding: 10px 6px;
    height: 60px;
    background: #783b12;
    display: flex;
    align-items: center;
}

.sidebar_light-dark .sidebar_light-dark_profile .sidebar_light-dark_icon {
    font-size: 20px;
    position: relative;
    left: 30%;
    transition: all 0.5s ease;
    padding-top: 5px;
}

.sidebar.active .sidebar_light-dark .sidebar_light-dark_profile .sidebar_light-dark_icon {
    left: 0%;
    transition: all 0.5s ease;
}

.ld-txt {
    font-family: Mulish;
    font-size: 20px;
    font-weight: 500;
    margin-left: 5px;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
    transition: all 0.2s ease;
}

.sidebar.active .ld-txt {
    opacity: 1;
    pointer-events: auto;
}

.sidebar_light-dark_profile .sidebar_light-dark_switch {
    position: absolute;
    left: 80%;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 80px;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
    transition: all 0.2s ease;
}

.sidebar.active .sidebar_light-dark_profile .sidebar_light-dark_switch {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.5s ease;
}

/* ld switch tings */
.checkbox:checked+.label .ball {
    transform: translateX(24px);
}

.bxs-moon {
    color: #f1c40f;
}

.bxs-sun {
    color: #f39c12;
}

.label {
    width: 50px;
    height: 26px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 5px;
    border-radius: 50px;
}

.ball {
    background-color: #fff;
    position: absolute;
    top: 2px;
    border-radius: 50%;
    left: 2px;
    height: 22px;
    width: 22px;
    transition: transform 0.2s linear;
}

.checkbox {
    opacity: 0;
    position: absolute;
}


/* header */
header {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    width: 100%;
}

header a {
    text-decoration: none;
}

header .header_logo {
    display: flex;
    align-items: center;
    font-size: 22px;
    letter-spacing: 0.2px;
    font-weight: 400;
    cursor: pointer;
}


/* Cooli Buttons */
/* home */
.buttonhomespan {
    position: relative;
    display: inline-flex;
    width: 180px;
    height: 55px;
    margin: 0 15px;
    perspective: 1000px;
}

.buttonhomespan a {
    font-size: 19px;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform .25s;
}

.buttonhomespan a::before, .buttonhomespan a::after {
    position: absolute;
    content: "Home";
    z-index: 0;
    height: 55px;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    box-sizing: border-box;
    border-radius: 5px;
}

body.dark .buttonhomespan a::before, body.dark .buttonhomespan a::after {
    border-color: #fff;
}

.buttonhomespan a::before {
    color: #fff;
    background: #000;
    transform: rotateY(0deg) translateZ(25px);
}

body.dark .buttonhomespan a::before {
    color: #000;
    background: #fff;
}

.buttonhomespan a::after {
    color: #000;
    transform: rotateX(90deg) translateZ(25px);
}

body.dark .buttonhomespan a::after {
    color: #fff;
}

.buttonhomespan a:hover {
    transform: translateZ(-25px) rotateX(-90deg);
}

/* about */
.buttonaboutspan {
    position: relative;
    display: inline-flex;
    width: 180px;
    height: 55px;
    margin: 0 15px;
    perspective: 1000px;
}

.buttonaboutspan a {
    font-size: 19px;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform .25s;
}

.buttonaboutspan a::before, .buttonaboutspan a::after {
    position: absolute;
    content: "About us";
    z-index: 0;
    height: 55px;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    box-sizing: border-box;
    border-radius: 5px;
}

body.dark .buttonaboutspan a::before, body.dark .buttonaboutspan a::after {
    border-color: #fff;
}

.buttonaboutspan a::before {
    color: #000;
    transform: rotateX(90deg) translateZ(25px);
}

body.dark .buttonaboutspan a::before {
    color: #fff;
}

.buttonaboutspan a::after {
    color: #fff;
    background: #000;
    transform: rotateY(0deg) translateZ(25px);
}

body.dark .buttonaboutspan a::after {
    color: #000;
    background: #fff;
}

.buttonaboutspan a:hover {
    transform: translateZ(-25px) rotateX(-90deg);
}


/* site title */
.main-welcometitle {
    font-family: mulish;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 80vh;
    margin-left: 80px;
}

.site-title h3 {
    font-size: 3.9rem;
    color: #27272A;
    line-height: 120px;
    font-weight: 800;
}

body.dark h3 {
    color: #fff;
}

.site-title h3::after {
    content: " ";
    height: 2px;
    width: 16vw;
    background: black;
    display: inline-block;
    margin-left: 20px;
    transform: translateY(1px);
}

body.dark .site-title h3::after {
    background: #fff;
}

.welcometitle-maintxt {
    color: #111;
    font-size: 4.5rem;
    letter-spacing: 0.3px;
    line-height: 60px;
    font-weight: 700;
}

body.dark .welcometitle-maintxt {
    color: white;
}

.welcometitle-abouttxt {
    color: #52525B;
    font-weight: 500;
    font-size: 2.6rem;
    letter-spacing: 0.3px;
    line-height: 140px;
}

body.dark .welcometitle-abouttxt {
    color: whitesmoke;
}



/* Grids */
.gridsop {
    padding: 150px 0;
    padding-left: 50px;
    height: 450px;
}

.grid-section {
    padding: 10px 10px;
}

.grid-items {
    display: flex;
    text-align: center;
    font-family: Mulish;
    column-gap: 10px;
}

.grid-icon i {
    font-size: 35px;
    color: #27272A;
    transition: all 1s ease;
}

body.dark .grid-icon i {
    color: #f8f8ff;
}

.grid-title h2 {
    font-size: 28px;
    line-height: 50px;
    letter-spacing: 0.3px;
    font-weight: 700;
    color: #292c35;
    transition: all 1s ease;
}

body.dark .grid-title h2 {
    color: #e5e4e2;
}

.grid-details p {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: #52525B;
    transition: all 1s ease;
}

body.dark .grid-details p {
    color: #F3F6FB;
}